<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/app.js"></script>
  </head>
  <body>
    <h1 class="title"><%= title %></h1>
    <div class="row">
      <div class="col col-md-6">
        <div class="well">
          <div id="accordion">
            <h3 class="btn btn-default">Health</h3>
            <div>
              <ul id="health">
              </ul>
            </div>
            <h3 class="btn btn-default">Wealth</h3>
            <div>
              <ul id="wealth">
              </ul>
            </div>
            <h3 class="btn btn-default">Soul</h3>
            <div>
              <ul id="soul">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-6" id="column2">
        <div class="well">
          <h3 class="btn btn-default">Daily Plan</h3>
          <div>
            <div id="droppable" class="ui-widget-header">
              <ol>
                <p class="placeholder">Drag your tasks here!</p>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
